.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #123867     ; 
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #cce4ff;
}

.nav-links a.active {
  border-bottom: 2px solid #fff;
}
